* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

body {
    --bgc-color: hsl(47, 88%, 63%);
    --card-bgc-color: #fff;
    --p-color: hsl(0, 0%, 42%);
    --t-color: hsl(0, 0%, 7%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    font-family: sans-serif;
    background-color: var(--bgc-color);
}

button {
    margin: 0;
    padding: 0;
}

.card__text {
    font-weight: 500;
    color: var(--p-color);
}

.card__title,
.card__profile__name,
.card__button {
    font-weight: 800;
}

img {
    max-width: 100%;
}

.card__title,
.card__profile__name,
.card__button,
.card__text,
.card__date,
.card__profile-container {
    margin: 8px 0;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}



/* COLOCANDO ESTILOS PREDETERMINADOS */

/* INICIANDO STYLES GENERAL */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    background-color: var(--card-bgc-color);
    width: clamp(350px, 50%, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    margin: auto;
    padding: 14px;
    border: 1px solid #000;
    box-shadow: 8px 8px 0 #000;
}

.card__img-container {
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 8px;
}

.card__img-container img {
    width: 100%;
}

.card__profile-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card__profile__img-container {
    width: 36px;
    display: flex;
    align-items: center;
}

.card__profile__img-container img {
    width: 100%;
}

.card__button {
    background-color: var(--bgc-color);
    padding: 6px 8px;
    border-radius: 4px;
    border: 0;
}

.attribution{
    background-color: #333;
    color: #ddd;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.attribution a{
    color: inherit;
}